@import "../components/media";
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-height: 90svh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(69, 51, 51, 0.782);
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 13px 13px 13px 2px;
  align-items: center;
  position: relative;
  @include phone330 {
    max-width: 280px;
    width: 80%;
  }
  button {
    width: 80%;
  }
}
.input-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: 95%;
  input {
    background: white;
    border: none;
    padding: 30px 15px 15px 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    transition: 0.4s ease-in-out;
    &:focus {
      border-radius: 10px;
    }
  }
  label {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 15px;
    color: grey;
    font-size: 16px;
    cursor: text;
    transition: 0.3s ease-in-out;
    &.active {
      margin-top: 8px;
      bottom: 30px;
      font-size: 14px;
    }
  }
}
.error {
  position: absolute;
  bottom: 30px;
  color: rgb(107, 0, 0);
}
